# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration (sdk path, etc)
local.properties

# IntelliJ
*.iml
.idea/
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# Android Studio
captures/
.externalNativeBuild
.cxx/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Keystore
*.jks
*.keystore

# Local build outputs
*.apk
*.aab
*.ap_
*.dex
